node red  flow code.txt
[{"id":"e5aadcd8.bf67a","type":"tab","label":"child tracking","disabled":false,"info":""},{"id":"575e15db.f9975c","type":"debug","z":"e5aadcd8.bf67a","name":"M16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":240,"wires":[]},{"id":"eaa5bbda.374fb8","type":"ibmiot in","z":"e5aadcd8.bf67a","authentication":"apiKey","apiKey":"53880b1f.84cf94","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"FaSaK007","applicationId":"","deviceType":"NAVEEN","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":240,"wires":[["189792aa.ebdbad","a7303635.f05da8"]]},{"id":"a7303635.f05da8","type":"function","z":"e5aadcd8.bf67a","name":"longitude","func":"msg.payload=msg.payload.d.longitude\nglobal.set(\"longitude\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["575e15db.f9975c","7b7fbafb.3ba4f4"]]},{"id":"189792aa.ebdbad","type":"function","z":"e5aadcd8.bf67a","name":"latitude","func":"msg.payload=msg.payload.d.latitude\nglobal.set(\"latitude\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["575e15db.f9975c","d3dba4d9.24e378"]]},{"id":"d3dba4d9.24e378","type":"ui_gauge","z":"e5aadcd8.bf67a","name":"","group":"5c0397b.a730f68","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":80,"wires":[]},{"id":"68a4f948.68b048","type":"http in","z":"e5aadcd8.bf67a","name":"M416","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":270,"y":380,"wires":[["f8fba487.104dc8"]]},{"id":"f8fba487.104dc8","type":"function","z":"e5aadcd8.bf67a","name":"globalfunction","func":"msg.payload={\"latitude\":global.get(\"latitude\"),\"longitude\":global.get(\"longitude\")}\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":440,"wires":[["10279b01.e0f605"]]},{"id":"10279b01.e0f605","type":"http response","z":"e5aadcd8.bf67a","name":"","statusCode":"","headers":{},"x":670,"y":420,"wires":[]},{"id":"7b7fbafb.3ba4f4","type":"ui_gauge","z":"e5aadcd8.bf67a","name":"","group":"5c0397b.a730f68","order":0,"width":"1","height":"1","gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":360,"wires":[]},{"id":"53880b1f.84cf94","type":"ibmiot","z":"","name":"1345","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"5c0397b.a730f68","type":"ui_group","z":"","name":"Naveen","tab":"776d2462.c188ec","disp":true,"width":"6","collapse":false},{"id":"776d2462.c188ec","type":"ui_tab","z":"","name":"Nagendra","icon":"Dashboard","disabled":false,"hidden":false}]